# TODO: Include exact versions
# Aerospike dependencies
aerospike-vector-search==1.0.2

# Flask framework
flask~=2.3.2
flask-wtf
Flask-BasicAuth
werkzeug
waitress

# Image processing
numpy==1.26.4 # fix issues in dependencies after 2.0.0 release
sentence-transformers==2.2.2
torch==2.0.1
tqdm~=4.66.1
Pillow~=10.0.0

