h1 {
    padding: 5px;
}

p {
    padding: 5px;
}

a.logo img {
    /* max-width: 32px; */
    max-height: 36px;
}

img#preview {
    max-width: 150px;
    max-height: 150px;
}

img.search-result {
    max-width: 250px;
    max-height: 250px;
}

div.gallery {
    /* border: 1 px solid #ccc;*/
    height: 300px;
    width: 225px;
}

div.gallery:hover {
    /* border: 1px solid #777; */
}

div.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.avs {
    max-height: 300px;
    padding: 20px;
}

.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #6c757d !important;
    color: white;
}

.error {
    color: darkred;
}

.search-similar {
    margin-top: 5px;
    margin-bottom: 25px;
}