h1 {
    padding: 5px;
}

p {
    padding: 5px;
}

a.logo img {
    /* max-width: 32px; */
    max-height: 36px;
}

img#preview {
    max-width: 150px;
    max-height: 150px;
}

img.search-result {
    max-width: 250px;
    max-height: 250px;
}

div.gallery {
    /* Modify styles for the table container */
    height: auto;
    /* Adjust height to fit content */
    width: auto;
    /* Adjust width to fit content */
    overflow: auto;
    /* Add overflow for scrolling if needed */
    border: 1px solid #ccc;
    /* Add border as needed */
    padding: 10px;
    /* Add padding for spacing */
}

div.gallery table {
    width: 100%;
    /* Make the table take full width */
}

div.gallery table td {
    padding: 10px;
    /* Add padding for spacing */
}

div.quote {
    /* Style for each quote container */
    border: 1px solid #ddd;
    /* Add border as needed */
    padding: 10px;
    /* Add padding for spacing */
    width: 100%;
    /* Adjust the width of each quote to fit three per row */
    margin: 10px;
    /* Add margin between quotes for spacing */
}

div.quote p {
    margin: 0;
    /* Remove default margin for paragraphs */
    font-style: italic;
    /* Apply italic style to the quotes */
}

.author {
    margin-top: 5px;
    /* Add margin between the quote and the author */
}

@media only screen {
    .quote {
        width: 100%;
        /* Adjust width for even smaller screens to span full width */
    }
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.avs {
    max-height: 300px;
    padding: 20px;
}

.nav-pills .nav-link {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #6c757d !important;
    color: white;
}

.error {
    color: darkred;
}

.search-similar {
    margin-top: 5px;
    margin-bottom: 25px;
}