services:
  aerospike:
    image: aerospike/aerospike-server-enterprise:7.0.0.2
    ports:
      - "3000:3000"
    networks:
      - proximus-demo
    volumes:
      - ./container-volumes/aerospike:/opt/aerospike/etc/aerospike
    mem_limit: 8g
    command:
      - "--config-file"
      - "/opt/aerospike/etc/aerospike/aerospike.conf"
  proximus:
    image: aerospike.jfrog.io/docker/aerospike/aerospike-proximus-private:0.2.0
    # ports:
      # - "5000:5000"
    networks:
      - proximus-demo
    volumes:
      - ./container-volumes/proximus:/etc/aerospike-proximus
  app:
    image: quote-search
    ports:
      - "8080:8080"
    networks:
      - proximus-demo
    environment:
      - PROXIMUS_HOST=proximus
      - PROXIMUS_PORT=5000

  
networks:
  proximus-demo: {}

volumes:
 grafana-storage: {}
 prometheus_data: {}
 app_data: {}