venv/
.venv/
pip.conf
container-volumes/prism/images/*.jpg
container-volumes/prism/images/*.jpeg
container-volumes/prism/images/*.png
container-volumes/prism/images/*.svg
container-volumes/avs/etc/aerospike-vector-search/features.conf